<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/betweenpage.css') }}">
</head> 

<body>



<form method="post" action="/Between">

	<div class="dropdown">
  	<button class="dropbtn">Single Values</button>
	<div class="dropdown-content">
	{% for x in flo %}
           
		<a href="/Between/{{x}}">{{x}}</a>
               
        {% endfor %}
	
  	</div>


</form>

<form method="post" action="/Between">

	<div class="dropdown">
  	<button class="dropbtn">Arrays</button>
  	<div class="dropdown-content">
	{% for x in arr %}
           
		<a href="/Between/{{x}}">{{x}}</a>
               
        {% endfor %}	
  	</div>


</form>


	<div id="big_block">

	<form method="post" action="">

	<section>
	<div id="input_time" style="float:left;padding-left:5px;padding-right:5px;">
	<input id="start_time" type="text" value="" name="start_time">
	<label for="start_time">Starting Date</label>	

	<input id="end_time" type="text" value="" name="end_time">
	<label for="end_time">End Date</label>	
	
	</div>

	<br style="clear:both;" />

	</section>
	
	<section id="buttons">

	<input type="submit" value="Graph" name="action">

	<input type="submit" value="Log" name="action">
	
	</section>

</form>

</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div class="chart" id="bargraph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
</div>



<!-- <table>
        <tr>
                <th>Entries</th>
        </tr>
        {% for x in data_list %}
                <tr>
                        <td>{{ x }}</td>
                </tr>
        {% endfor %}
</table>
-->

</body>
</html>

