<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/betweenpage.css') }}">
</head> 

<body>


<form method="post" action="/Between">

	<div class="dropdown">
  	<button class="dropbtn">Single Values</button>
	<div class="dropdown-content">
	{% for x in flo %}
           
		<a href="/Between/{{x}}">{{x}}</a>
               
        {% endfor %}
	
  	</div>



</form>

<form method="post" action="/Between">

	<div class="dropdown">
  	<button class="dropbtn">Arrays</button>
  	<div class="dropdown-content">
	{% for x in arr %}
           
		<a href="/Between/{{x}}">{{x}}</a>
               
        {% endfor %}	
  	</div>


</form>

<div id="big_block">

<form method="post" action="">

	<section>

	<div id="input_time"style="float:left;padding-left:5px;padding-right:5px;">
	<input id="start_time" type="text" value="" name="start_time">
	<label for="start_time">Starting Date</label>	


	
	<input id="end_time" type="text" value="" name="end_time">
	<label for="end_time">End Date</label>
	</div>


</div> 
	
	<br style="clear:both;" />

	</section>
	
	<section id="buttons">

	<input type="submit" value="Graph" name="action">

	<input type="submit" value="Log" name="action">

	</section>
	


</form>


</div>



</body>
</html>







