<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/uptopage.css') }}">
</head> 

<body>


<form>

<a id="home" href="/"> Home </a>

</form>


{% for single_var in var %}

<form method="post" action="/KeywordSearch">

	<div class="dropdown">
  	<button class="dropbtn" disabled>{{single_var[0]}}</button>
	<div class="dropdown-content">
	{% for x in single_var[1:] %}
          
		<a href="/KeywordSearch/{{x}}">{{x}}</a>

	
        {% endfor %}
	
  	</div>


</form>

{% endfor %}


	<div id="big_block">

	<form method="post" action="">

	<section>

	<div id="input_search">
	<input id="search_var" type="text" value="{{ph}}" placeholder="{{ph}}" name="search_var" pattern="^[A-Za-z ]+$">
	</div>

	<div id="search_label">
	<label for="search_var">Enter keywords to look for in variable notes (only letters please)</label>	
	</div>
	


	<br style="clear:both;" />

	</section>

	</div>
	
	<section id="buttons">

	<input type="submit" value="Submit Query" name="action">
	
	</section>

</form>

	<h2> {{note}} </h2>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div class="chart" id="bargraph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
</div>



<!-- <table>
        <tr>
                <th>Entries</th>
        </tr>
        {% for x in data_list %}
                <tr>
                        <td>{{ x }}</td>
                </tr>
        {% endfor %}
</table>
-->

</body>
</html>


