<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/uptopage.css') }}">
</head> 

<body>



<form>

<a id="home" href="/"> Home </a>

</form>


{% for single_var in var %}

<form method="post" action="/UpToPresent">

	<div class="dropdown">
  	<button class="dropbtn">{{single_var[0]}}</button>
	<div class="dropdown-content">
	{% for x in single_var[1:] %}
           
		<a href="/UpToPresent/{{x}}">{{x}}</a>

	
        {% endfor %}
	
  	</div>


</form>

{% endfor %}


<div id="big_block">

<form method="post" action="">

	<section>

	<div id="input_time"style="float:left;">
	<input id="start_time" type="text" value="" name="start_time" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31)) (0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}">
	
	</div>

	<div id="time_label">

	<label for="start_time">From this Date to the Present ('YYYY-MM-DD hh:mm:ss' format please)</label>	

	</div>


</div> 


	
	<br style="clear:both;" />

	</section>
	
	<section id="buttons"	>

	<input type="submit" value="Graph" name="action">

	<input type="submit" value="Download to csv file in dbDownloads" name="action">

	<input type="submit" value="Last 24 hours" name="action">

	<input type="submit" value="Last 48 hours" name="action">

	<input type="submit" value="Last 72 hours" name="action">

	</section>
	


</form>
	
	<h2> {{note}} </h2>


</div>



</body>
</html>
